* {
  font-family: "MesloLGS NF", monospace;
}
.main {
  width: 100%;
  flex-direction: row;
  display: flex;
  justify-content: space-around;
  padding: 64px 32px;

}
.facePhoto {
  width: 500px;
}
h1,
p {
  color: white;
}

h1 {
  font-size: 42px;
  display: flex;
  
}
p {
  font-size: 24px;
}

.text-main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  text-justify: justify;
  justify-content: center;
  width: 50%;
}

@media (max-width:1024px){
  h1,
  p {
    color: white;
  }
  p {
    font-size: 16px;
  }
  h1 {
    display: flex;
    font-size: 32px;
    justify-content: center;
  }
  .text-main {
    display: flex;
    flex-direction: column;
    padding: 64px 32px;
    gap: 20px;
    text-align: center;
  }
  .main {
    flex-direction: column;
    display: flex;
    align-items: center;
    padding: 0px 32px 64px 32px;

  }
  .facePhoto {
    width: 300px;
  }
}


@media (min-width: 320px  ) and (max-width: 1024px) {
  .text-main {
    display: flex;
    flex-direction: column;
    padding: 64px 32px;
    gap: 20px;
    text-align: center;
    width: 100%;
  }
  
}
